body{
    background-color: #b1ecf9;
    font-family: Arial;
    font-size: 12px; 
}

h1{
    text-align: center;
    background-color: #3a5da5;
    color: white;
    font-size: 20px;
 }
h2{
    background-color:#6fa0fd;
    border: solid 2px white;
    padding: 18px;     
}
